.start {
	border-radius:12px 0 12px 0;
	background: #d34836;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
    padding:6px 0 6px 0;
	margin: 15px;
	width: 150px;
}

.reset {
	border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	width: 150px;
}

div{
    padding: 15px;
}